.navbar {
  background: black;
}
.img-circle {
	height:225;
	width:180;
	clip-path: circle(43% at 50% 40%);
	animation: heartbeat 1.5s ease-in-out infinite both;
}	
h4{
	color: #006BB3;
}
.card-block small{
	float: right;
}
.new-img {
	height: 300;
	width: 700;
}

